@function rem($px) {
  $result: $px / 16;
  @return #{$result}rem;
}
@function prc($el, $container){
  $result: $el / $container * 100%;
  @return #{$result};
}

$titlecolor: #fff;
$fontFamily: 'Montserrat', sans-serif;
$fontmain: "Kaushan Script", sans-serif;
$fontother: 'Roboto', sans-serif;
$textColor: #999;

@mixin fonttitle {
  font-size: 2rem;
  font-weight: 700;
  color: $titlecolor;
}