.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1rem;
}

.logo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.nav {
    -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
}

.nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav__text-links {
    font-family: Montserrat;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.75rem;
    -webkit-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
    cursor: pointer;
}

.nav__icon {
    width: 1rem;
    height: 1rem;
    fill: #ffffff;
}

.nav__text-links:hover>.nav__icon {
    fill: #fce38a;
}

.nav__text-links:hover {
    color: #fce38a;
    border-bottom: 0.2rem solid #fce38a;
}

.title {
    padding-top: 4rem;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
}

.title--big {
    text-transform: capitalize;
    font-size: 4.5rem;
    padding-top: 10rem;
    color: #ffffff;
}

.name {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    color: #000;
}

.name--big {
    font-size: 9.5rem;
    color: #ffffff;
    margin-bottom: 9rem;
}

.name--after::after{
    display: block;
    content: '';
    width: 10%;
    margin: 2rem auto 4rem;
    border:0.2rem solid #f38181;
    background-color:#f38181;
}

.btn {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 0.2rem solid #ffffff;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.text {
    color: #999999;
    font-family: Roboto, serif;
    line-height: 1.2rem;
}

.text--center {
    text-align: center;
    margin-bottom: 5rem;
}

.amazing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.amazing__card {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 3rem;
}

.amazing__card:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.amazing__name {
    font-family: Montserrat, sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #333333;
    padding: 1rem 0 1rem;
}

.amazing__name--normal {
    text-transform: none;
}

.amazing__name--center {
text-align: center;
display: block;
}

.amazing__icon {
    width: 3rem;
    height: 3rem;
    fill: #95e1d3;
    display: inline-block;
}

.amazing__img {
    display: inline-block;
    margin-right: 1rem;
}

.text--right {
    padding-left: 4rem;
}

.team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3rem;
}

.team__head {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    position: relative;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.team__img--hover {
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    width: 100%;
    height: 88%;
    -webkit-box-shadow: 5px 10px #95e1d3;
    box-shadow: 5px 10px #95e1d3;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    opacity: 0;
}

.team__img--hover:hover {
    opacity: 1;
}

.team__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}

.team__icons {
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
    background-color: #fce38a;
    margin: auto;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.team__icons:hover {
    background-color: #f38181;
}

.team__icons:hover>.team__card {
    fill: #ffffff;
}


.team__description {
    font-family: Roboto;
    font-style: italic;
    color: #999999;
    text-align: center;
    text-transform: capitalize;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 0.08rem solid #999999;
}

.footer__laac {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    display: inline-block;
}

.footer__link {
    display: inline-block;
    color: #f38181;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form__input {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    color: #999999;
    font-family: Roboto, serif;
    font-style: italic;
    padding: 0.4rem;
}

.btn--footer {
    background-color: #95e1d3;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}

.team__card {
    width: 1.5rem;
    height: 1.5rem;
    fill: #f38181;
    margin: auto;
}