@import 'normalize.css';
@import 'reset.css';
@import 'container.css';
@import 'wrapper.css';
@import 'sectionone.css';

/* 
.text {
    font-family: var(--ff-roboto);
    font-weight: 400;
    font-size: 0.9375rem;
    color: var(--color-text-2);
    line-height: 1.5rem;
}
.favor__name {
    font-family: var(--ff-montserrat);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--color-text-1);
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}
.services {
    padding-top: 7.063rem;
}
.services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 15rem;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.services__favor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.favor__icon {
    display: block;
    width: 2rem;
    height: 2rem;
    fill: var(--color-green);
}
.favor__caption {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}
.team {
    padding: 5.625rem 0 5rem;
}
.team__text {
    margin: auto;
    max-width: 58.81rem;
    text-align: center;
}
.team__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 5.625rem;
}
.team__member {
    position: relative;
    -ms-flex-preferred-size: 23.75rem;
    flex-basis: 23.75rem;
    text-align: center;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition: var(--anime-time);
    -o-transition: var(--anime-time);
    transition: var(--anime-time);
}
.member__caption {
    margin-top: 1.875rem;
}
.member__name {
    margin-bottom: 0.9375rem;
    font-family: var(--ff-montserrat);
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    color:  var(--color-text-1);
}
.member__position {
    font-family: var(--ff-roboto);
    font-size: 0.9375rem;
    font-weight: 300;
    font-style: italic;
    color:  var(--color-text-2);
}
.member__box-sociale {
    position: absolute;
    top: 0;
    left: 0;
    width: 23.75rem;
    height: 29.38rem;
    z-index: 2;
    opacity: 0;
    -webkit-transition: var(--anime-time);
    -o-transition: var(--anime-time);
    transition: var(--anime-time);
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}
.team__member:hover  .member__box-sociale {
    background: -webkit-gradient( linear, left top, left bottom, from(var(--color-pink-hover)), to(var(--color-yellow-hover)));
    background: -webkit-linear-gradient( var(--color-pink-hover)0%, var(--color-yellow-hover)100%);
    background: -o-linear-gradient( var(--color-pink-hover)0%, var(--color-yellow-hover)100%);
    background: linear-gradient( var(--color-pink-hover)0%, var(--color-yellow-hover)100%);
    opacity: .9;
    -webkit-transform: translate(-0.625rem, -0.625rem);
    -ms-transform: translate(-0.625rem, -0.625rem);
    transform: translate(-0.625rem, -0.625rem);
}
.member__pic {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition: var(--anime-time);
    -o-transition: var(--anime-time);
    transition: var(--anime-time);
}
.team__member:hover .member__pic {
    position: relative;
    -webkit-transform: translate(-0.625rem, -0.625rem);
    -ms-transform: translate(-0.625rem, -0.625rem);
    transform: translate(-0.625rem, -0.625rem);
    -webkit-box-shadow: 0.625rem 0.625rem var(--color-green);
    box-shadow: 0.625rem 0.625rem var(--color-green);
}
.box-sociale__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 14rem;
    height: 3.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.box-sociale__link {
    display: block;
    -ms-flex-preferred-size: 3.5rem;
    flex-basis: 3.5rem;
    border-right: 0.0625rem solid var(--color-border-sociale);
}
.box-sociale__link:last-child {
    border-right: 0;
}
.box-sociale__icon {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--color-pink);
    padding: 0.9375rem;
    background-color: var(--color-yellow);
    -webkit-transition: var(--anime-time);
    -o-transition: var(--anime-time);
    transition: var(--anime-time);
}
.box-sociale__icon:hover {
    fill: #ffffff;
    background-color: var(--color-pink);
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 0.0625rem solid var(--color-border);
}
.copyright {
    font-size: 0.875rem;
    font-family: var(--ff-montserrat);
    font-weight: 400;
    color: var(--color-text-1);
    line-height: 3.875rem;
}
.copyright__link {
    color: var(--color-pink);
}
.footer__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 23.75rem;
}
.email__text {
    display: block;
    -ms-flex-preferred-size: 14.38rem;
    flex-basis: 14.38rem;
    font-family: var(--ff-roboto);
    font-size: 0.9375rem;
    font-weight: 300;
    font-style: italic;
    color: var(--color-text-2);
    padding: 0.625rem 0;
    border: 0.0625rem solid var(--color-border);
    border-right: 0;
    text-indent: 0.8125rem;
}
.email__btn {
    font-family: var(--ff-montserrat);
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color:  var(--color-green);
    padding: 0.75rem 2.063rem;
    border: 0;
} */



